.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fab {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 32px;
  margin-bottom: 32px;
  z-index: 900;
}