
<md-list flex>
  <div ng-repeat="transaction in transactions | reverse">
    <md-list-item class="md-2-line">
      <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
      <div class="md-list-item-text" layout="column">
        <div ng-if="!transaction.bet">
          <h3 style="white-space: normal;">{{ transaction.fromUserName }} paid {{ transaction.toUserName }} {{ transaction.amount | currency : $ : 0 }}</h3>
          <p>{{ transaction.description }}</p>
        </div>
        <div ng-if="transaction.bet">
          <h3 style="white-space: normal;">{{transaction.toUserName}} Won {{ transaction.amount | currency : $ : 0 }} in a bet</h3>
          <p>{{transaction.description}}</p>
        </div>
      </div>
    </md-list-item>
    <md-divider></md-divider>
  </div>
</md-list>

<!-- Colored FAB button with ripple -->
<a ng-href="#!/pay" class="fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</a>
